#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

pre {
  font-size: 0.9em; /* Adjust this value as needed */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.chat-container {
  padding: 0 10%;
  max-width: 1024px;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #242424; /* Match root background */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
  justify-content: center;
}

.input-container textarea {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  max-width: 600px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-family: inherit; /* Inherit from :root */
  min-width: 200px; /* Set your preferred minimum width */
  font-size: 16px; /* Optional: Adjust to match root font-size */
  background-color: #333; /* Optional: match or contrast with the container */
  color: #fff; /* Optional: Adjust text color */
}

.input-container button {
  padding: 10px;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: inherit; /* Inherit from :root */
  font-size: 16px; /* Optional: Adjust to match root font-size */
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
